.controller.custom{
    background: url(assets/sfc-base.png);
    height: 120px;
    width: 320px;
}

/* Likely not going to use these
.custom.disconnected{
    background: url(assets/sfc-base.png);
}

.custom.disconnected div{
    display: none;
}
*/

/* Just testing abxy so I'll comment these out for now
.custom.bumper{
    background: url(assets/button-shoulder.png);
    width: 61px;
    height: 18px;
    top: 9px;
}

.custom.bumper.left{
    left: 92px;
}

.custom.bumper.right{
    left: 166px;
}

.custom.back, .custom.start{
    background: url(assets/button-start-select.png);
    width: 38px;
    height: 28px;
}

.custom.back{
    top: 82px;
    left: 115px;
}

.custom.start{
    top: 82px;
    left: 167px;
}
*/

.custom .abxy{
    position: absolute;
    width: 320px;
    height: 120px;
}

.custom .a, .custom .b, .custom .x, .custom .y{
    width: 30px;
    height: 30px;
}

.custom .a{
    top: 45px;
    left: 279px;
    background: url(assets/button-a.png);
}

.custom .b{
    top: 74px;
    left: 249px;
    background: url(assets/button-b.png);
}

.custom .x{
    top: 16px;
    left: 249px;
    background: url(assets/button-x.png);
}

.custom .y{
    top: 45px;
    left: 219px;
    background: url(assets/button-y.png);
}

/* TODO dpad
.custom.dpad{
    background: url(assets/button-dpad.png);
}
*/