.controller.custom{
    background: url(assets/sfc-base.png);
    height: 120px;
    width: 320px;
}

/*
.custom.disconnected{
    background: url(assets/sfc-base.png);
    height: 120px;
    width: 320px;
}

.custom.disconnected div{
    display: none;
}
*/

.custom .bumpers{
    position: absolute;
    width: 320px;
    height: 120px;
}

.custom .bumper{
    position: absolute;
    background: url(assets/button-shoulder.png);
    width: 64px;
    height: 21px;
    top: 6px;
    opacity: 0;
}

.custom .bumper.pressed{
    opacity: 1;
}

.custom .bumper.left{
    left: 90px;
}

.custom .bumper.right{
    left: 164px;
}

/* container for start & select */
.custom .arrows{
    position: absolute;
    width: 320px;
    height: 120px;
}

.custom .back, .custom .start{
    position: absolute;
    background: url(assets/button-start-select.png);
    width: 38px;
    height: 28px;
    opacity: 0;
}

.custom .back.pressed, .custom .start.pressed{
    opacity: 1;
}

.custom .back{
    top: 82px;
    left: 115px;
}

.custom .start{
    top: 82px;
    left: 167px;
}

.custom .abxy{
    position: absolute;
    width: 320px;
    height: 120px;
}

.custom .button{
    position: absolute;
    width: 32px;
    height: 32px;
    opacity: 0;
}

.custom .button.pressed{
    opacity: 1;
}

.custom .a{
    top: 44px;
    left: 278px;
    background: url(assets/button-a.png);
}

.custom .b{
    top: 73px;
    left: 248px;
    background: url(assets/button-b.png);
}

.custom .x{
    top: 15px;
    left: 248px;
    background: url(assets/button-x.png);
}

.custom .y{
    top: 44px;
    left: 218px;
    background: url(assets/button-y.png);
}

.custom .dpad{
    position: absolute;
    width: 320px;
    height: 120px;
    left: 0px;
    top: 0px;
}

.custom .face{
    position: absolute;
    width: 32px;
    height: 32px;
    background: url(assets/button-dpad.png);
    opacity: 0;
}

.custom .face.pressed{
    opacity: 1;
}

.custom .face.up{
    left: 40px;
    top: 15px;
}

.custom .face.right{
    left: 70px;
    top: 44px;
}

.custom .face.down{
    left: 40px;
    top: 73px;
}

.custom .face.left{
    left: 10px;
    top: 44px;
}